.center {
  margin: auto;
  border: 3px solid green;
  padding: 10px;
}
.col-center{
  margin: auto;
  float: 0;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
