<mat-form-field class="example-full-width">
    <input matInput
        type="text"
        placeholder="Search..."
        [formControl]="ProductSearch$"
        (keyup)="Searching()"
    >
</mat-form-field>
    <br>
    <section class="row container col-center">
        <app-product-show
            [productToShow]="product"
            class="col-lg-3 col-md-6 col-sm-12"
            style="margin-bottom: 10px;"
            *ngFor="let product of products; let i of index"
        >
        </app-product-show>
        <!-- <h1>{{ ProductSearch$.value }}</h1> -->
    </section>
