<div class="row container col-center">
  <button routerLink="{{mesa.tableNumber}}"  class="col-lg-8 col-sm-12 btn btn-secondary col-center text-white button"
   *ngFor="let mesa of mesas;">
    <h1 class="button_title">
      <span class="fa fa-cutlery"></span>
       Table {{mesa.tableNumber}}</h1>
  </button>
  <button (click)="addTable()" class="col-lg-8 col-sm-12 btn btn-secondary col-center text-warning" ><h1 class="button_title">
    <span class="fa fa-plus-circle"></span>
    Add table</h1>
  </button>
</div>



