<div class="row">
  <div class="col-md-11 col-center col-mb-3 ">
    <section class="card bg-dark text-white" >
      <div class="card-header bg-dark">
        <h5 class="card-title"><strong>Table {{mesa}}</strong></h5>
      </div>
    </section>
  </div>
  <div class="col-md-8 col-center">
    <section class="card bg-light mb-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="card-header">
            <h5 class="card-title">Products</h5>
          </div>
          <div *ngFor="let product of Products" class="card-body">
            <p class="card-text">Product: <strong>{{product.name}}</strong></p>
            <p class="card-text">Price: {{product.price}} $</p>
          </div>
        </li>
        <li class="list-group-item">
          <div class="card-header">
            <h5 class="card-title">Total</h5>
          </div>
          <div class="card-body">
          <p class="card-text"> Price: <strong>{{totalPrice()}} $</strong></p>
        </div>
        </li>
      </ul>
    </section>
  </div>
</div>
<div style="text-align: center">
<button (click)=goBack() class="btn btn-primary">Go back!</button>
<button  (click)=deleteThis() class="btn btn-danger">Close Table</button>
</div>
