<div class="row container col-center">
  <div class="col-md-4">
    <section class="card bg-dark text-white" >
      <div class="card-header bg-dark">
        <h5 class="card-title"><strong>{{productToShow.name}}</strong></h5>
      </div>
      <img class="card-img" src={{productToShow.photo}} height="300" width="300" alt="Card image cap"/>
      <div class="card-img-overlay"></div>
    </section>
  </div>

  <div class="col-md-8">
    <section class="card bg-light mb-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="card-header">
            <h5 class="card-title">Description</h5>
          </div>
          <div class="card-body">
            <p class="card-text">{{productToShow.description}}</p>
          </div>
        </li>
        <li class="list-group-item">
          <div class="card-header">
            <h5 class="card-title">Ingredients</h5>
          </div>
          <div class="card-body">
            <p class="card-text">{{productToShow.ingredients}}</p>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
<br>
<div style="text-align: center; ">
  <button (click)=goBack() class="btn btn-primary ">Go back!</button>
</div>
